#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link {
    display: inline-block;
    margin-left: 40px;
}
 h3 {
     text-align: center;
 }

